*
{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
body
{
	overflow-x: none;
	scroll-behavior: smooth;
	background-color: white;
}
section
{
	margin: 60px auto;
	width: 80%;
	position: relative;
	animation-name: mymove;
	animation-duration: 3s;
	animation-delay: 0s;
	animation-fill-mode: forwards;
	box-shadow: 8px 8px 11px 11px rgba(0, 0, 0, 0.3);
	border-radius: 10%;
	padding: 8px 10px;
}
@keyframes mymove
{
	from
	{
		top: 300px;
	}
	to 
	{
		top: 0px;
	}
}
.title
{
	font-size: 4vmin;
	color: rgb(73, 73, 126);
	text-align: center;
}
.line
{
	height: 4px;
	width: 150px;
	background: coral;
	margin: 10px auto;
	border-radius: 5px;

}

.two
{
	float: right;
}
video
{
	box-shadow: 8px 8px 8px 8px rgba(0, 0, 0, 0.3);
}

.backward a
{
	font-size: 30px;
	color: black;
	
}


